* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

div,
body,
button {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #ffffff;
  font-family: 'Nanum Gothic';
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

span {
  vertical-align: middle;
}

hr {
  color: #eceff4;
  opacity: 0.2;
}

/**
* status-bar
*/
.status-bar {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.6;
  padding: 0.5rem 1rem;
}

.status-bar * {
  font-size: 1rem;
}

.status-bar__clock {
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
}

.status-bar__icon {
  display: relative;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
.status-bar__icon.status-bar__icon_lte {
  display: absolute;
  width: 100%;
  height: 100%;
}

.main {
  position: fixed;
  top: 4.3rem;
  bottom: 3rem;
  left: 0;
  width: 100%;
  padding: 0.3rem 0;
  overflow-y: auto;
  animation: fadeIn 0.5s ease-in-out;
}

/**
* header
*/
.header {
  position: fixed;
  top: 2.1rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.header__icon:not(:nth-of-type(1)) {
  margin-left: 1rem;
}

.header__icon {
  margin-right: 0.5rem;
}

/**
* nav
*/

.nav {
  position: fixed;
  background-color: #f9f9f9;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  z-index: 1;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
}

.nav__item {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble__parent {
  position: relative;
}
.bubble__child {
  position: absolute;
  right: -6px;
  top: -6px;
  font-size: 0.5rem;
  min-height: 0.6rem;
  min-width: 0.6rem;
  font-weight: bold;
  text-shadow: 0.2px 0 #ffffff;
  color: #ffffff;
  background-color: #e45f3e;
  border: 0.2px solid #d46a4e;
  border-radius: 50%;
  padding: 0.17rem;
  text-align: center;
  vertical-align: middle;
}

body .container-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
  background-color: pink;
  visibility: collapse;
}

@media screen and (min-width: 471px) and (max-width: 2000px) {
  body .container {
    display: none;
    visibility: collapse;
  }
  body .container-lg {
    visibility: visible;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
  }
  to {
    transform: none;
  }
}
